<body>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="box">
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" formControlName="firstname" />
      <div
        *ngIf="
          signupForm.controls['firstname'].invalid &&
          signupForm.controls['firstname'].touched
        "
      >
        <div *ngIf="signupForm.controls['firstname'].errors?.['required']">
          First name is required
        </div>
        <div *ngIf="signupForm.controls['firstname'].errors?.['minlength']">
          First name must be at least 3 characters long
        </div>
        <div *ngIf="signupForm.controls['firstname'].errors?.['maxlength']">
          First name must not exceed 15 characters
        </div>
      </div>

      <div>
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" formControlName="lastname" />
        <div
          *ngIf="
            signupForm.controls['lastname'].invalid &&
            signupForm.controls['lastname'].touched
          "
        >
          <div *ngIf="signupForm.controls['lastname'].errors?.['required']">
            Last name is required
          </div>
          <div *ngIf="signupForm.controls['lastname'].errors?.['minlength']">
            Last name must be at least 3 characters long
          </div>
          <div *ngIf="signupForm.controls['lastname'].errors?.['maxlength']">
            Last name must not exceed 15 characters
          </div>
        </div>
      </div>

      <div>
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" />
        <div
          *ngIf="
            signupForm.controls['email'].invalid &&
            signupForm.controls['email'].dirty
          "
        >
          <div *ngIf="signupForm.controls['email'].errors?.['required']">
            Email is required
          </div>
          <div *ngIf="signupForm.controls['email'].errors?.['email']">
            Email is invalid
          </div>
        </div>
      </div>

      <div>
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" />
        <div
          *ngIf="
            signupForm.controls['password'].invalid &&
            signupForm.controls['password'].dirty
          "
        >
          <div *ngIf="signupForm.controls['password'].errors?.['required']">
            Password is required
          </div>
        </div>
      </div>

      <button type="submit" [disabled]="signupForm.invalid">
        Registration
      </button>
      <button type="button" (click)="resetForm()">Reset</button>
    </div>
  </form>
</body>
